*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   text-align: center;
   padding: 20px;
}
.main{
    height: 300px;
    width: 300px;
    border: 1px solid;
    margin: 10px;
    margin: auto;
}
button{
    width: 120px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}
.row{
    height: 100px;
    display: flex;
}
h2{
    margin: 10px;
}
.box{
    border: 1px solid;
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}